@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_MainLayoutHeadComponent")
<body>

    @await Component.InvokeAsync("_MainLayoutHeaderComponent") 

    @await Component.InvokeAsync("_MainLayoutSidebarComponent")


    <div id="mailContent" class="mailcontent">
        @RenderBody()
    </div>
    @await Component.InvokeAsync("_MainLayoutScriptComponent")

</body>
</html>






