@*
    Main Layout Head Component
*@
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <title>My Academy S-mail</title>

    <!-- Vendor CSS -->
    <link href="~/smartmail-main/lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Bootstrap CSS (önce) -->
    <link href="~/smartmail-main/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Header CSS -->
    <link rel="stylesheet" href="~/assets/header.css/styleHeader.css" />

 

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
